
<div class="container">

  <div class="mt-2 col-md-12"></div>

  <div class="row">

    <form id="formSearch" class="form-row col-12" [formGroup]="formSearch" (ngSubmit)="onSubmit()">

      <div class="form-group col-6">
        <mat-form-field>
          <input type="search" class="form-control" matInput id="opis" placeholder="From" [formControlName]="'opis'" [matAutocomplete]="auto1">
          <mat-autocomplete #auto1="matAutocomplete" >
              <mat-option *ngFor="let aerodrom of filteredOptions | async " [value]="aerodrom">
                {{aerodrom}}
              </mat-option>
          </mat-autocomplete>
        <div class="mt-2 col-md-12"></div>
        <div class="alert alert-danger" *ngIf="formSearch.controls.opis.errors?.required && formSearch.controls.opis.touched">
          Search field can't be empty!
        </div>
          </mat-form-field>
      </div>

      <div class="form-group col-6">
        <mat-form-field>
          <input type="search" class="form-control" matInput id="presedanja" placeholder="To" [formControlName]="'presedanja'" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"  >
              <mat-option *ngFor="let lokacija of filteredOptions1 | async" [value]="lokacija">
                {{lokacija}}
              </mat-option>
          </mat-autocomplete>
          </mat-form-field>
      </div>

      <div class="form-group col-4">
        <input type="number" class="form-control" matInput id="duzinaPutovanja" placeholder="Broj osoba" [formControlName]="'duzinaPutovanja'">
        <div class="mt-2 col-md-12"></div>

      </div>

      <div class="form-group col-4">
        <input type="number" class="form-control" matInput id="brojPresedanja" placeholder="Tezina prtljaga" [formControlName]="'brojPresedanja'">
      </div>


      <div class="form-group col-4">
        <select  class="form-control" name="vrstaLeta"  formControlName="vrstaLeta" (change)="onChangeVL($event.target.value)" >
          <option [value]="-1"> </option>
          <option [value]="0">Povratni</option>
          <option [value]="1">Jedan pravac</option>
          <option [value]="2">Vise destinacija</option>
        </select>
      </div>

      <div class="form-group col-3">
        <div class="input-group">
          <input class="form-control" [readonly]="true" [minDate]="fromDate" name="d2" ngbDatepicker #d2="ngbDatepicker"
                 (dateSelect)="onDateSelected()" [formControlName]="'vremePolaska'">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i
              class="fas fa-calendar"></i></button>
          </div>
        </div>
      </div>

      <div class="form-group col-3">
        <div class="input-group">
          <input class="form-control" [readonly]="true" [minDate]="toDate" name="d3" ngbDatepicker #d3="ngbDatepicker"
                 [formControlName]="'vremeDolaska'" required="false">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"><i
              class="fas fa-calendar"></i></button>
          </div>
        </div>
      </div>


      <div class="form-group col-2">
        <button type="submit" class="btn btn-outline-secondary" [disabled]="!formSearch.valid" >Search</button>
      </div>

    </form>

  </div>

  <div class="col-sm-6">

    <div *ngIf="rezultat.length==0 && tabela==true">
      <h3>No result for this criteria!</h3>
    </div>

    <div *ngIf="rezultat.length>0 && tabela==true">
      <select (change)="onChangeSort($event.target.value)">
        <option [value]="11">Aviokompanija(A-Z)</option>
        <option [value]="12">Aviokompanija(Z-A)</option>
        <option [value]="21">Trajanje let(min-max)</option>
        <option [value]="22">Trajanje leta(max-min)</option>
        <option [value]="31">Cena (min-max)</option>
        <option [value]="32">Cena (max-min)</option>
      </select>
    </div>

    <div class="card-deck">
      <div *ngFor="let rez of rezultat">


        <div class="card mt-4" style="width: 18rem;height: 18rem">
          <div class="card-header">
            <div class="d-flex">

              <h6 class="card-title">{{rez.konfiguracijaLeta.aviokompanija.naziv}} </h6>
              <div class="ml-auto">
                <h6> € {{getCena(rez.konfiguracijaLeta.id)}} </h6>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div><i class="fas fa-angle-up"></i>{{rez.vremePolaska | date: 'dd/MM/yyyy HH:mm' }}</div>
            <div><i class="fas fa-angle-down"></i>{{rez.vremeDolaska | date: 'dd/MM/yyyy HH:mm' }}</div>
            <div><i class="fas fa-clock"></i> {{rez.vremePutovanja}}</div>
            <div><i class="fas fa-city"></i>  {{rez.brojPresedanja}} </div>
          </div>

          <div class="card-footer">
            <div class="d-flex">
              <div class="ml-auto">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="sledeciKorak(rez)">Details</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>



</div>
