<form class="form-group" [formGroup]="rentFormGroup" >

    <div class="form-group">
      <label for="nazivRNC">Name</label>
      <input type="text" class="form-control" id="nazivRNCInput" placeholder="" [formControlName]="'naziv'">
    </div>
    <div class="form-group">
        <label for="opisRNC">Description</label>
        <textarea class="form-control form-control-sm" id="opisRNCInput" rows="5" [formControlName]="'opis'"></textarea>
    </div>
    <div class="form-group">
        <label for="adresaRNC">Adress</label>
        <input type="text" class="form-control" id="adresaRNCInput" placeholder="" [formControlName]="'adresa'">
      </div>

      <div class="alert alert-danger " *ngIf="submitError">{{error}}</div>

      <button type="button"  class="btn btn-primary btn-sm" (click)="submit()">Submit</button>

</form>