<div class="container">

  <h3 *ngIf="res">RentACar Reservation</h3>

  <div class="mt-2 "></div>

  <div class="row" >


  <div *ngIf="res">

    <div class="card-deck ">
      <div class="card " style="width: 70rem">
        <div class="card-header">
          <div class="d-flex">
            <h6>{{res.voziloDTO.naziv}} </h6>
            <div class="ml-auto">
              <h6> Total € {{res.cena}} </h6>
            </div>
          </div>
          <h5>RentACar Name : {{res.filijalaDTO.rentACarDTO.naziv}} </h5>
          <p class="h6">PickUp adress : {{res.filijalaDTO.lokacijaDTO.adresa}} </p>
          <p class="h6">DropOff adress :  {{res.filijalaDropDTO.lokacijaDTO.adresa}}  </p>
          <h6>Pick-up: {{res.datumPreuz | date: 'dd/MM/yyyy HH:mm' }} </h6>
          <h6>Drop-off: {{res.datumVracanja | date: 'dd/MM/yyyy HH:mm'}} </h6>

        </div>

        <div class="card-body">
          <p>Brand: {{res.voziloDTO.marka}} </p>
          <p>Model: {{res.voziloDTO.model}} </p>
          <p> <i class="fas fa-user"></i>  {{res.voziloDTO.brojSedista}}
            <i class="fas fa-door-closed"></i> {{res.voziloDTO.brojVrata}}
              <i class="fas fa-suitcase"></i>  {{res.voziloDTO.brojTorbi}} </p>
          <p *ngIf="res.voziloDTO.klima"> AC : Yes </p>
          <p *ngIf="!res.voziloDTO.klima"> AC : No </p>
          <p>Gear: {{res.voziloDTO.menjac}} </p>
          <p>Gas: {{res.voziloDTO.gorivo}} </p>
          <p *ngIf="res.voziloDTO.rezervoar">Tank: {{res.voziloDTO.rezervoar}} l</p>
          <p *ngIf="res.voziloDTO.potrosnja">Consumption: {{res.voziloDTO.potrosnja}} l</p>
          <p *ngIf="res.voziloDTO.dodatniopis">Description: {{res.voziloDTO.dodatniOpis}} </p>
        </div>

        <div class="card-footer">
          <div class="d-flex">
            <div> <i class="fas fa-star"></i>{{res.voziloDTO.prosecnaOcena}}</div>
            <div class="ml-auto">
              <button type="button" class="btn btn-outline-secondary btn-sm" (click)="rent()">Rent</button>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

  </div>

  <div class="row d-flex justify-content-center">

      <h3>{{message}}</h3>

  </div>

</div>




