<div class="container">

    <div *ngIf="rentACar">

        <h4>Welcome {{rentACar.naziv}}  </h4>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="card" style="width: 65rem;">

                <div class="card-header">
                    <div class="d-flex">
                        <div>
                            Branches
                        </div>
                        <div class="ml-auto">
                            <a class="link" (click)="addFilijala()"><i class="fas fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <table mat-table [dataSource]="filijalaSource" matSort class="mat-elevation-z8 matchip mb-0">

                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let filijala;let i=index">{{i+1}}</td>
                    </ng-container>


                    <ng-container matColumnDef="adresa">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Adress </th>
                        <td mat-cell *matCellDef="let filijala"> {{filijala.adresa}} </td>
                    </ng-container>


                    <ng-container matColumnDef="prosecnaOcena">
                        <th mat-header-cell *matHeaderCellDef>Average Score </th>
                        <td mat-cell *matCellDef="let filijala"> {{filijala.prosecnaOcena}} </td>
                    </ng-container>

                    <ng-container matColumnDef="vehicles">
                        <th mat-header-cell *matHeaderCellDef>Vehicles</th>
                        <td mat-cell *matCellDef="let filijala">
                            <button class="btn" type="button" (click)="showVehicles(filijala)"><i
                                    class="far fa-arrow-alt-circle-down"></i>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef>Edit</th>
                        <td mat-cell *matCellDef="let filijala">
                            <button class="btn" type="button" (click)="editFilijala(filijala)"><i
                                    class="far fa-edit"></i></button>
                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumnsFil"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsFil;"></tr>



                </table>

                <mat-paginator #paginator1 [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>


            </div>


        </div>


    </div>


    <div class="row">

        <div class="mt-2 col-md-12"></div>

        <div class="col-md-12">

            <div class="input-group"  style="width: 65rem;">
                <input type="text" class="form-control no-border" id="searchFilter" aria-describedby="searchFilter"
                    (keyup)="applyFilter($event.target.value)" placeholder="Vehicle search...">
            </div>


            <div class="mt-2 col-md-12"></div>


            <div class="card" style="width: 65rem;">

                <div class="card-header">
                    <div class="d-flex">
                        <div *ngIf="filijala;else notLoaded">
                            Vehicles of {{filijala.adresa}}
                        </div>
                        <ng-template #notLoaded>
                            Vehicles
                        </ng-template>
                        <div *ngIf="filijala" class="ml-auto">
                            <a class="link" (click)="addVozilo()"><i class="fas fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <table *ngIf="data" mat-table [dataSource]="dataSource" class="mat-elevation-z8 matchip">

                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let vozilo;let i=index">{{i+1}}</td>
                    </ng-container>


                    <ng-container matColumnDef="naziv">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.naziv}} </td>
                    </ng-container>


                    <ng-container matColumnDef="marka">
                        <th mat-header-cell *matHeaderCellDef> Brand </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.marka}} </td>
                    </ng-container>


                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef> Model </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.model}} </td>
                    </ng-container>

                    <ng-container matColumnDef="brojSedista">
                        <th mat-header-cell *matHeaderCellDef>Seats </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.brojSedista}}</td>
                    </ng-container>

                    <ng-container matColumnDef="brojVrata">
                        <th mat-header-cell *matHeaderCellDef> Doors </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.brojVrata}} </td>
                    </ng-container>

                    <ng-container matColumnDef="brojTorbi">
                        <th mat-header-cell *matHeaderCellDef> Luggage </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.brojTorbi}}</td>
                    </ng-container>

                    <ng-container matColumnDef="gorivo">
                        <th mat-header-cell *matHeaderCellDef> Gas </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.gorivo}}</td>
                    </ng-container>

                    <ng-container matColumnDef="menjac">
                        <th mat-header-cell *matHeaderCellDef> Gear </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.menjac}}</td>
                    </ng-container>

                    <ng-container matColumnDef="klima">
                        <th mat-header-cell *matHeaderCellDef> AC </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.klima}}</td>
                    </ng-container>

                    <ng-container matColumnDef="rezervoar">
                        <th mat-header-cell *matHeaderCellDef> Tank </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.rezervoar}}</td>
                    </ng-container>

                    <ng-container matColumnDef="potrosnja">
                        <th mat-header-cell *matHeaderCellDef> Consumption </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.potrosnja}}</td>
                    </ng-container>

                    <ng-container matColumnDef="dodatniopis">
                        <th mat-header-cell *matHeaderCellDef>Description </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.dodatniopis}}</td>
                    </ng-container>

                    <ng-container matColumnDef="prosecnaOcena">
                        <th mat-header-cell *matHeaderCellDef>Average sum </th>
                        <td mat-cell *matCellDef="let vozilo"> {{vozilo.prosecnaOcena}}</td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef>Edit</th>
                        <td mat-cell *matCellDef="let vozilo">

                            <button class="btn" type="button" (click)="editVozilo(vozilo)"><i
                                    class="far fa-edit"></i></button>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef>Rate</th>
                        <td mat-cell *matCellDef="let vozilo">
                            <button class="btn" type="button" (click)="addCenovnik(vozilo)"><i
                                    class="fas fa-plus-circle"></i></button>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator #paginator2 [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
            </div>



        </div>


    </div>


    <div class="row">

        <div class="mt-2 col-md-12"></div>

        <div class="col-md-12">

            <div class="card"  style="width: 65rem;">

                <div class="card-header">
                    <div>
                        Rates
                    </div>
                </div>

                <table mat-table [dataSource]="cenovnikSource" class="mat-elevation-z8 matchip mb-0">

                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let cenovnik;let i=index">{{i+1}}</td>
                    </ng-container>


                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Vehicle </th>
                        <td mat-cell *matCellDef="let cenovnik"> {{cenovnik.voziloDTO.naziv}} </td>
                    </ng-container>


                    <ng-container matColumnDef="odDatuma">
                        <th mat-header-cell *matHeaderCellDef> From </th>
                        <td mat-cell *matCellDef="let cenovnik"> {{cenovnik.odDatuma | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="doDatuma">
                        <th mat-header-cell *matHeaderCellDef> To </th>
                        <td mat-cell *matCellDef="let cenovnik"> {{cenovnik.doDatuma | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>


                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let cenovnik"> {{cenovnik.cena}} </td>
                    </ng-container>


                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef>Edit</th>
                        <td mat-cell *matCellDef="let cenovnik">
                            <button class="btn" type="button" (click)="editCenovnik(cenovnik)"><i
                                    class="far fa-edit"></i></button>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCenovnik"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCenovnik;"></tr>



                </table>

                <mat-paginator #paginator3 [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

            </div>
        </div>

        <!-- Modal -->

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modal}}</h5>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-form-rent *ngIf="rentopen" [(rentFormGroup)]="rentFormGroup" [(edit)]="edit"
                    (clicked)="onCliked($event)"></app-form-rent>
                <app-form-fil *ngIf="proslo" [(filijalaFormGroup)]="filijalaFormGroup" [(edit)]="edit"
                    (clicked)="onCliked($event)"></app-form-fil>
                <app-form-voz *ngIf="openVeh" [(voziloFormGroup)]="voziloFormGroup" [(edit)]="editVeh"
                    (clickedVeh)="onClickedVozilo($event)"></app-form-voz>
                <app-form-cen *ngIf="openCen" [(cenovnikFormGroup)]="cenovnikFormGroup" [(edit)]="editCen"
                    (clickedCen)="onClickedCenovnik($event)"></app-form-cen>

            </div>
            <div class="modal-footer">


            </div>
        </ng-template>



    </div>

    <div class="mt-2 col-md-12"></div>

</div>
