<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Aerodrom ${{aerodrom.nazivAerodroma}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body >
  <h1>{{aerodrom.nazivAerodroma}}</h1>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/aerodromUpdate/{{aerodrom.id}}">Update</a></li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron container">
          <div class="row ">
            <div class="col-sm-6"> 
                <div class="panel panel-default">
                    <div class="panel-heading">Destinacija:</div>
                   <div class="panel-body">{{destinacija.nazivDestinacije}}</div>
                </div>
            </div>
            
          </div>
          
    </div>

    
    </body>
    </html>