<div class="container">

  <h4>{{naziv}}</h4>

  <div class="row">

    <div *ngIf="reservationsRent.length!=0" >

      <div   class="card mt-4" >

        <div class="card-header">
          <h5>Deals</h5>
        </div>
        <div class="list-group list-group-flush">

          <li *ngFor="let res of reservationsRent  " class="list-group-item flex-column ">
            <div class="d-flex justify-content-between">
              <h6 class="mb-1">{{res.voziloDTO.naziv}}</h6>
              <del> <h6 class="mb-1"> {{res.cena}} €</h6> </del>
              <h5 class="mb-1"> {{res.popust}} €</h5>
              <p>
                <button class="bltn btn-sm " type="button " (click)="resDeal(res)"><i class="fas fa-ellipsis-v"></i>
                </button>
              </p>
            </div>

            <p class="h6">PickUp adress :  {{res.filijalaDTO.lokacijaDTO.adresa}}  </p>
            <p class="h6">DropOff adress :  {{res.filijalaDropDTO.lokacijaDTO.adresa}} </p>
            <h6>Pick-up: {{res.datumPreuz | date: 'dd/MM/yyyy HH:mm' }} </h6>
            <h6>Drop-off: {{res.datumVracanja | date: 'dd/MM/yyyy HH:mm'}} </h6>


          </li>
        </div>

      </div>

    </div>

    <div *ngIf="reservationsRent" >

      <div *ngIf="filijale" class="card-deck">
        <div *ngFor="let fil of filijale">
          <div class="card mt-4" style="width: 18rem;height: 30rem">
            <div class="card-body">
              <h5 class="card-title">{{fil.lokacijaDTO.adresa}}</h5>
              <!--              <app-map [(adress)]='fil.lokacijaDTO.adresa'></app-map>-->
            </div>
            <div class="card-footer">
              <div class="d-flex">
                <div><i class="fas fa-star"></i>{{fil.prosecnaOcena}}</div>
                <div class="ml-auto">
                  <button type="button" class="btn btn-outline-secondary btn-sm"
                          (click)="showVeh(fil)">Details
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>
