<div class="container">
  <h1>Aviokompanija</h1>
  <div  align="left" class="container"  style=" width: 50%;  padding: 20px; margin-top: 50px"  >
      <div *ngFor="let avio of aviokompanije; let i = index" style=" width: 50%;  padding: 20px; margin-top: 30px">
        <div align="left"><span><h2>{{avio.naziv}} </h2></span> <span style="margin-left: 10px"><a><i class="fa fa-user-plus"></i></a></span></div>

        <div align="left"><span>Adresa: </span> <span >  {{avio.adresa}}</span></div>

        <div align="left"> <span>Opis: </span> <span >  {{avio.opis}}</span></div>
      </div>
  </div>
</div>
