<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reservation</title>
  <script type="text/javascript"  src="C:\Users\Ivanica\projekat isa\ISA projekat\ISA\src\main\client\node_modules\jquery\dist\jquery.min.js"></script>
  <script type="text/javascript"  src="C:\Users\Ivanica\projekat isa\ISA projekat\ISA\src\main\client\node_modules\fabric\dist\fabric.min.js"></script>
</head>
<body>
    <h2>Get Your favorite seat! </h2>
    <canvas id="mycanvas" width="920" height="450" style="border: 6px solid"></canvas>
        
    
</body>
</html>
