<div class="container">

  <div class="row">

    <div class="col" align="center">

      <div *ngIf="lista.length==0">
        <div style=" width: 50%;  padding: 20px; margin-top: 50px"><h2>You don't have new requests for
          friendship!</h2><i class="fa fa-sad-tear"></i></div>
        <div style=" width: 50%;  padding: 20px; margin-top: 50px"><h2>Add friends <a
          href="http://localhost:4200/addFriends"><i class="fa fa-user-friends"></i></a></h2></div>
      </div>


    </div>


  </div>

  <div class="row">

    <div class="col">


      <div *ngIf="lista.length>0" class="card">

        <div class="card-header">
          <h5>Friend requests</h5>
        </div>

        <div class="list-group list-group-flush">

          <li *ngFor="let u of lista; let i = index" class="list-group-item flex-column ">
            <div class="d-flex justify-content-between">
              <p class="mb-1">From (username): {{u.userSent.username}}</p>
              <p class="mb-0">
                <button class="btn btn-sm " type="button " (click)="prihvati(i)"><i class="fa fa-check"></i></button>
                <button class="btn btn-sm " type="button " (click)="ne(i)"><i class="fa fa-times"></i></button>
              </p>
            </div>
            <div>
              {{u.userSent.firstName}}  {{u.userSent.lastName}}
            </div>
          </li>


        </div>

      </div>


    </div>

  </div>


  <div class="row">

    <div class="col">

      <div *ngIf="listaF.length>0" class="card">

        <div class="card-header">
          <h5>Friends</h5>
        </div>

        <div class="list-group list-group-flush">

          <li *ngFor="let u of listaF; let i = index" class="list-group-item flex-column ">
            <div class="d-flex justify-content-between">
              <p class="mb-1">{{u.username}}</p>
              <p class="mb-0">
                <button class="btn btn-sm " type="button " (click)="ukloni(i)"><i class="fa fa-user-minus"></i></button>
              </p>
            </div>
            <div>
              {{u.firstName}}  {{u.lastName}}
            </div>
          </li>


        </div>

      </div>

    </div>


  </div>


  <br/>


</div>
