
<h5 class="card-title text-center font-weight-bold text-uppercase">Hotel Petrus</h5>

<div class="card" style="width: 84rem;">
    <div class="card-body">
        <h5 class="card-title text-center ">Mainski put 5, Budva</h5>
    </div>
  </div>


<div class="card category" style="width: 84rem;">
    <div class="card-body">
      <ngb-rating [rate]="3" [readonly]="true" max="5"></ngb-rating>
    </div>
  </div>


<div class = "left-side">
<img src='http://www.hotel-starikrovovi.com/img/galerija/moskva16.jpg' alt='image' class="myImage rounded">

</div>

<div class="container float-right">




<p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
<div>

<div class="card card border-primary mb-3" style="width: 32rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Parking</li>
      <li class="list-group-item">Private bathroom</li>
      <li class="list-group-item">WiFi</li>
    </ul>
  </div>


    <div class="card text-white bg-primary mb-3" style="max-width: 32rem;">
        <h5 class="card-header">Price for 7 nights</h5>
        <div class="card-body">
          <h5 class="card-title">300$</h5>
        </div>
      </div>

<div class="card text-white bg-primary mb-3" style="max-width: 32rem;">
    
     
      <a href="#" class="btn btn-light mdbWavesEffect">Select</a>
   
  </div>
</div>
</div>