/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";


    .custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }

.panelAdminColor{
    
    background-color: rgb(240, 240, 240) ;
    height: 100%;
}

.no-border {
    border: 0;
    outline: 0;
    
}

.navPar{
    font-size: 20px;
}

.navPar :hover{
    color: rgb(105, 101, 101);
}

.hrefColor{
    color: rgb(36, 39, 41);
}


  
  
  .mat-cell{
   
    justify-content:center!important;
    
  }
  
  .mat-header-cell {
    
    justify-content:center;
  }
  

.matchip {
   transition: none;
    box-shadow: none !important;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

