.top-buffer { margin-top:20px; }

ul {
    text-align: center;
  
  }
  .left-side{
    position: absolute;
    left:5%;
    width: 40%;
  }
  
  .float-right{
    position: absolute;
    right:5%;
    width: 40%;
  }
  