
<div class = "left-side">
  <table class="table">
    <thead class="thead-dark">
      <tr>
          <th scope="col">#</th>
        <th scope="col">Service name</th>
        <th scope="col">Rate</th>
        <th scope="col">Charge</th>
    
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Breakfast</td>
        <td>5$</td>
        <td>Per person/day</td>
      </tr>
     
    </tbody>
  </table>
  

  </div>
  
  <div class="container float-right">
  
  
      <label class = "text-center" for="usr">Additional services:</label>
  
      <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 1
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 2
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 3
          </label>
        </div>
  
 
        <div class="card  mb-3" style="max-width: 32rem;">
            <h5 class="card-header text-center mb-3">Total amount:</h5>
            <div class="card-body">
              <h5 class="card-title text-center">150.00$</h5>
            </div>
          </div>

        
<div class="card mb-3" style="max-width: 32rem;">
    
     
    <a href="#" class="btn btn-dark mdbWavesEffect">Finish</a>
 
</div>
     
   
  </div>
 
 