<!--<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Profil aviokompanija</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body >
  <h1>{{aviokompanija.naziv}}</h1>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="form-akupdate/{{aviokompanija.id}}">Update</a></li>
            <li><a href="letAdd/{{aviokompanija.id}}">Dodaj let</a></li>
            <li><a href="letovi/{{aviokompanija.id}}">Letovi</a></li>
          </ul>
        </div>
      </nav>


      

      
      <div class="jumbotron container">
          <div class="row ">
            <div class="col-sm-6"> 
                <div class="panel panel-default">
                    <div class="panel-heading">Opis:</div>
                    <div class="panel-body">{{aviokompanija.opis}}</div>
                </div>
            </div>
            <div class="col-sm-6"> 
                <div class="panel panel-default">
                    <div class="panel-heading">Prosecna ocena:</div>
                    <div class="panel-body">{{aviokompanija.prosecnaOcena}}</div>
                </div>
            </div>
          </div>

          <div class="row ">
          <div class="col-sm-8 offset-md-3">
              <agm-map [latitude]="location.latitude" [longitude]="location.longitude" >
                <agm-marker id="mark" name="mark" [latitude]="location.marker.latitude" [longitude]="location.marker.longitude"></agm-marker>
              </agm-map>
            </div>
          </div>-->
         
 <!--   </div>
    <div id="divMapa"></div>
    </body>
    </html>-->

<div class="jumbotron container text-center col-sm-6">
  <h2 class="text-center" >Azuriranje aviokompanije</h2>
  <form [formGroup]="regFormA" (ngSubmit)="onSubmit()" >

    <div class="form-group form-inline">
      <label for="naziv" class="control-label col-sm-4">Naziv: </label>
      <div class="col-sm-8 text-left">
        <input class="form-control shadow" name="naziv" id="naziv" type="text" formControlName="naziv">
      </div>
    </div>


    <div class="form-group form-inline">
      <label for="adresa" class="control-label col-sm-4">Adresa: </label>
      <div class="col-sm-8 text-left">
        <input class="form-control shadow" name="adresa" id="adresa" type="text" formControlName="adresa">
      </div>
    </div>

    <div class="form-group form-inline">
      <label for="grad" class="control-label col-sm-4">Grad:  </label>
      <div class="col-sm-8 text-left">
        <input class="form-control shadow" name="grad" id="grad" type="text" formControlName="grad">
      </div>
    </div>

    <div class="form-group form-inline">
      <label for="drzava" class="control-label col-sm-4">Drzava: </label>
      <div class="col-sm-8 text-left">
        <input class="form-control shadow" name="drzava" id="drzava" type="text" formControlName="drzava">
      </div>
    </div>

    <div class="form-group form-inline">
      <label for="opis" class="control-label col-sm-4">Opis: </label>
      <div class="col-sm-8 text-left">
        <input class="form-control shadow" name="opis" id="opis" type="text" formControlName="opis">
      </div>
    </div>

    <div class="col-sm-offset-2">
      <button type="submit" class="btn btn-primary">Sacuvaj</button>
    </div>
  </form>
</div>
