<div class="container">

  <div class="mt-2 col-md-12"></div>

  <div class="jumbotron">
      <h1 class="display-4">Search hotels</h1>
      <p class="lead"></p>
      <hr class="my-4">
     
      <div class="input-group row top-buffer">
          <input class="form-control mr-sm-3" type="search" placeholder="Where..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>

      <form class="form-inline">
          <div class="form-group row top-buffer">
            <div class="input-group">
              <input class="form-control" placeholder="Check-in" name="dp" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">Pick<i class="far fa-edit"></i></button>
              </div>
            </div>

            <div class="input-group col">
              <input class="form-control" placeholder="Check-out" name="dp" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">Pick<i class="far fa-edit"></i></button>
              </div>
            </div>
           

          </div>

        </form>


</div>


</div>

<div class="container">
<div class="card mx-auto text-center" style="width: 69rem;">
  <div class="card-body">
<h5 class=" text-center font-weight-bold text-uppercase">Hotel Petrus</h5>
</div>
</div>

<div class="card mx-auto text-center" style="width: 69rem;">
    <div class="card-body">
        <h5 class="card-title text-center ">Mainski put 5, Budva</h5>
    </div>
  </div>


<div class="card category mx-auto text-center" style="width: 69rem;">
    <div class="card-body">
      <ngb-rating [rate]="3" [readonly]="true" max="5"></ngb-rating>
    </div>
  </div>


<div class = "left-side">
<img src='http://www.hotel-starikrovovi.com/img/galerija/moskva16.jpg' alt='image' class="myImage rounded">
</div>

<div class="container float-right">




<p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
<div>

<div class="card card border-primary mb-3" style="width: 32rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Parking</li>
      <li class="list-group-item">Private bathroom</li>
      <li class="list-group-item">WiFi</li>
    </ul>
  </div>


    <div class="card text-white bg-primary mb-3" style="max-width: 32rem;">
        <h5 class="card-header text-center">Price for 7 nights</h5>
        <div class="card-body">
          <h5 class="card-title text-center">300$</h5>
        </div>
      </div>

<div class="card text-white bg-primary mb-3" style="max-width: 32rem;">
    
     
      <a href="#" class="btn btn-outline-light mdbWavesEffect">Select</a>
   
  </div>
</div>
</div>
</div>