<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div align="center" class="container"  style=" width: 50%;  padding: 20px; margin-top: 50px" ><h2>Profile info <a href="http://localhost:4200/settings"><i class="fa fa-pencil-alt"></i></a></h2></div>
<div align="center" class="container"  style=" width: 50%;  padding: 50px; margin-top: 50px" >
<table class="table-light"  >
  <tbody style="font-size: 30px">
  <tr><th>Username: </th><td>{{user.username}}</td></tr>
  <tr><th>First name: </th><td>{{user.firstName}}</td></tr>
  <tr><th>Last name: </th><td>{{user.lastName}}</td></tr>
  <tr><th>Email: </th><td>{{user.email}}</td></tr>
  </tbody>

</table>
</div>
<div align="center" class="container"  style=" width: 50%;  padding: 20px; margin-top: 50px" ><h2>Add friends <a href="http://localhost:4200/addFriends"><i class="fa fa-user-friends"></i></a></h2></div>
