<div class="container">

  <div class="mt-2 "></div>


  <div class="row" >


    <div class="col-md-4">

      <div *ngIf="rentACarRes">

        <div class="card-deck ">
          <div class="card " style="width: 70rem">
            <div class="card-header">
              <div class="d-flex">
                <h6>{{rentACarRes.voziloDTO.naziv}} </h6>
                <div class="ml-auto">
                  <h6> Total € {{rentACarRes.cena}} </h6>
                </div>
              </div>
              <h5>RentACar Name : {{rentACarRes.filijalaDTO.rentACarDTO.naziv}} </h5>
              <p class="h6">PickUp adress : <button type="button" class="btn btn-link"> {{rentACarRes.filijalaDTO.lokacijaDTO.adresa}} </button>  </p>
              <p class="h6">DropOff adress :  <button type="button" class="btn btn-link" > {{rentACarRes.filijalaDropDTO.lokacijaDTO.adresa}}  </button> </p>
              <h6>Pick-up: {{rentACarRes.datumPreuz | date: 'dd/MM/yyyy HH:mm' }} </h6>
              <h6>Drop-off: {{rentACarRes.datumVracanja | date: 'dd/MM/yyyy HH:mm'}} </h6>

            </div>

            <div class="card-body">
              <p>Brand: {{rentACarRes.voziloDTO.marka}} </p>
              <p>Model: {{rentACarRes.voziloDTO.model}} </p>
              <p> <i class="fas fa-user"></i>  {{rentACarRes.voziloDTO.brojSedista}}
                <i class="fas fa-door-closed"></i> {{rentACarRes.voziloDTO.brojVrata}}
                <i class="fas fa-suitcase"></i>  {{rentACarRes.voziloDTO.brojTorbi}} </p>
              <p *ngIf="rentACarRes.voziloDTO.klima"> AC : Yes </p>
              <p *ngIf="!rentACarRes.voziloDTO.klima"> AC : No </p>
              <p>Gear: {{rentACarRes.voziloDTO.menjac}} </p>
              <p>Gas: {{rentACarRes.voziloDTO.gorivo}} </p>
              <p *ngIf="rentACarRes.voziloDTO.rezervoar">Tank: {{rentACarRes.voziloDTO.rezervoar}} l</p>
              <p *ngIf="rentACarRes.voziloDTO.potrosnja">Consumption: {{rentACarRes.voziloDTO.potrosnja}} l</p>
              <p *ngIf="rentACarRes.voziloDTO.dodatniopis">Description: {{rentACarRes.voziloDTO.dodatniopis}} </p>
            </div>

            <div class="card-footer">
              <div class="d-flex">
                <div *ngIf="rates"> Branch : {{rates.fil}} Vehicle : {{rates.voz}}</div>
                <div class="ml-auto">
                  <p class="mb-1 text-danger" *ngIf="rentACarRes.otkazana"> CANCELED </p>
                  <button *ngIf="!rentACarRes.otkazana && rateRent " type="button" class="btn btn-outline-secondary btn-sm" (click)="rate(rentACarRes)">Rate</button>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>


      <ng-template #content let-c="close" let-d="dismiss">

        <div class="modal-body ">
          <div class="justify-content-center text-center">
            <h5>Rating</h5>
          </div>

          <div class="row">
            <div class="col text-center">

              <form class="form-group" [formGroup]="rateGroup" >

                <div class="form-group">
                  <label for="branchRateSelect">Branch rate</label>
                  <select class="form-control form-control-sm" id="branchRateSelect" [formControlName]="'branchRate'" >
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="vehicleRateSelect">Vehicle rate</label>
                  <select class="form-control form-control-sm" id="vehicleRateSelect" [formControlName]="'vehicleRate'">
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>

                <button type="button"  class="btn btn-primary btn-sm" (click)="rateSubmit()">Submit</button>

              </form>

            </div>
          </div>

        </div>

      </ng-template>


    </div>



  </div>

</div>
