<form class="form-group" [formGroup]="voziloFormGroup" >
  <div formGroupName="vozilo">
    <div class="form-group">
      <label for="nazivVozInput">Name</label>
      <input type="text" class="form-control form-control-sm" id="nazivVozInput" [formControlName]="'naziv'" placeholder="">
    </div>
    <div class="form-group">
      <label for="markaVozInput">Brand</label>
      <input type="text" class="form-control form-control-sm" id="markaVozInput" [formControlName]="'marka'" placeholder="">
    </div>
    <div class="form-group">
      <label for="modelVozInput">Model</label>
      <input type="text" class="form-control form-control-sm" id="modelVozInput" [formControlName]="'model'" placeholder="">
    </div>

    <div class="form-group">
      <label for="sedVozSelect">Number of seats</label>
      <select class="form-control form-control-sm" id="sedVozSelect" [formControlName]="'brojSedista'">
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div>

    <div class="form-group">
      <label for="vrataVozSelect">Number of doors</label>
      <select class="form-control form-control-sm" id="vrataVozSelect" [formControlName]="'brojVrata'">
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div>

    <div class="form-group">
      <label for="torVozSelect">Luggage</label>
      <select class="form-control form-control-sm" id="torVozSelect" [formControlName]="'brojTorbi'">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="menjacVozSelect">Gear</label>
      <select class="form-control form-control-sm" id="menjacVozSelect" [formControlName]="'menjac'">
        <option value="AUTO">Automatic</option>
        <option value="MANU">Manual</option>
      </select>
    </div>


    <div class="form-group">
      <label for="gorivoVozSelect">Gas</label>
      <select class="form-control form-control-sm" id="gorivoVozSelect" [formControlName]="'gorivo'">
        <option value="BENZIN" >Petrol</option>
        <option value="DIZEL">Diesel</option>
        <option value="GAS">Gas</option>
      </select>
    </div>

    <div class="form-group">
      <label for="rezVozInput">Tank</label>
      <div class="input-group input-group-sm">
        <input type="number" class="form-control" id="rezVozInput" aria-label="rezVozAria" [formControlName]="'rezervoar'">
        <div class="input-group-append">
          <span class="input-group-text">l</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="potVozInput">Consumption</label>
      <div class="input-group input-group-sm">
          <input type="number" class="form-control" id="potVozInput" placeholder="" aria-label="potVozAria" [formControlName]="'potrosnja'">
          <div class="input-group-append">
            <span class="input-group-text">l</span>
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="klimaVozSelect">AC</label>
      <select class="form-control form-control-sm" id="klimaVozSelect" [formControlName]="'klima'">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>

    <div class="form-group">
      <label for="dodVozText">Description</label>
      <textarea class="form-control form-control-sm" id="dodVozText" rows="5" [formControlName]="'dodatniopis'"></textarea>
    </div>

    <div class="btn-group">
      <button type="button"  class="btn btn-primary btn-sm" (click)="submit()">Submit</button>
      <button *ngIf="edit" type="button" class="btn btn-primary btn-sm" (click)="delete()">Delete</button>
    </div>

    <div *ngIf="error" class="alert alert-danger small" >{{message}}</div>



  </div>




  </form>
