<!DOCTYPE html>
<html lang="en">
<head>
  <title>Letovi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
  <h1></h1>
<div class="container">       
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Datum i vreme polaska</th>
        <th>Datum i vreme dolaska</th>
        <th>Aerodrom polazak</th>
        <th>Aerodrom dolazak</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let l of letovi " style="width: 300px">
        
              <td>{{l.vremePolaska}}</td>
              <td>{{l.vremeDolaska}}</td>
              <td>{{l.aerodrom.naziv}}</td>
              <td>{{l.destinacija.naziv}}, {{l.destinacija.drzava}}</td>
              <td><button (click)="dodaj(l.id)">Dodaj brzu rezervaciju</button></td>
      </tr>
    </tbody>
  </table>
</div>


</body>
</html>
