<div class="container">

  <h4>{{aviokomapnija.naziv}}</h4>

  <div class="row">
        <span><div class="card mt-4" style="width: 18rem;height: 30rem">
            <div class="card-body">
              <h5 class="card-title">{{aviokomapnija.naziv}}</h5>
              <div class="ml-auto">
                <div>{{aviokomapnija.opis}}</div>
              </div>
              <app-map [(adress)]='aviokomapnija.lokacijaDTO.adresa'></app-map>

            </div>
            <div class="card-footer">
              <div class="d-flex">
                <div><i class="fas fa-star"></i>{{aviokomapnija.prosecnaOcena}}</div>

              </div>

            </div>
          </div>
        </span>
    <span>
      <div style="margin-left: 50px"><h2><a href="http://localhost:4200/travel/flights/tickets/{{aviokomapnija.id}}">See list of tickets with discount!</a><i class="fa fa-arrow-alt-circle-right"></i></h2></div>
    </span>
  </div>

</div>
