
  <div class="container">

    <div class="row">
      <div id="navigation">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['flights']">Flights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Hotels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['rentacar']">Cars</a>
          </li>

        </ul>
      </div>
    </div>

    <div class="row">



      <router-outlet></router-outlet>






    </div>


  </div>

<!--<div class="container">

  <div class="mt-2 col-md-12"></div>

<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link " href="#">Flights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Hotels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cars</a>
    </li>
  </ul>

  <div class="mt-2 col-md-12"></div>

  <div class="jumbotron">
      <h1 class="display-4">Hello!</h1>
      <p class="lead"></p>
      <hr class="my-4">
     
      <div class="input-group">
          <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>

      <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="Pick-up date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">Works also with buttons!<i class="far fa-edit"></i></button>

              </div>
            </div>
          </div>
        </form>


</div>-->




