<div class="panelAdminColor">
    <div class="container">

        <div class="row">

            <div class="col-md-2 mt-2" id="navigation">
                <nav class="nav flex-column navPar">

                    <a class="nav-link active hrefColor" [routerLink]="['vozForm']" active>Account</a>
                    <a class="nav-link active hrefColor" [routerLink]="['rentForm']">Admin</a>

                </nav>
            </div>

            <div class="col-md-9 mt-2">

                <div class="row">

                    <router-outlet></router-outlet>

                    <app-panel-admin-rent></app-panel-admin-rent>



                </div>
            </div>
        </div>


    </div>
</div>