<div class="panelAdminColor">
    <div class="container">

        <div class="row">
            <div id="navigation">
                <nav class="nav navPar">

                    <a class="nav-link active hrefColor" [routerLink]="['adminpanel']" active>Admin panel</a>
                    <a class="nav-link active hrefColor" [routerLink]="['adminres']">Reservations panel</a>

                </nav>
            </div>
        </div>

        <div class="row">

            

                <router-outlet></router-outlet>

                



            
        </div>


    </div>
</div>