<div class="container">

    <div class="mt-2 col-md-12"></div>

  <div class="row">

    <form id="formSearch" class="form-row col-12" [formGroup]="searchFormGroup" (ngSubmit)="onSubmit()">

      <div class="form-group col-6">
        <input type="search" class="form-control" matInput id="locationp" placeholder="Pick-up adress" [formControlName]="'locationp'" [matAutocomplete]="auto1">
        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)='autoPrvi($event.option.group.label)'>
            <mat-optgroup *ngFor="let group of searchGroupOptions | async" [label]="group.rent">
                <mat-option *ngFor="let adress of group.adress" [value]="adress">
                  {{adress}}
                </mat-option>
            </mat-optgroup>
          </mat-autocomplete>

        <div class="mt-2 col-md-12"></div>
        <div class="alert alert-danger" *ngIf="searchFormGroup.controls.locationp.errors?.required && searchFormGroup.controls.locationp.touched">
           Search field can't be empty!
          </div>
      </div>

      <div class="form-group col-6">
        <input type="search" class="form-control" matInput id="bring" placeholder="Drop-off adress" [formControlName]="'bring'" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" >
            <mat-optgroup *ngFor="let group of searchGroupOptions2 | async" [label]="group.rent">
                <mat-option *ngFor="let adress of group.adress" [value]="adress">
                  {{adress}}
                </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        
      </div>

      <div class="form-group col-3">
        <div class="input-group">
          <input class="form-control" [readonly]="true" [minDate]="fromDate" name="d2" ngbDatepicker #d2="ngbDatepicker"
            (dateSelect)="onDateSelected()" [formControlName]="'pickDate'">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i
                class="fas fa-calendar"></i></button>
          </div>
        </div>
      </div>

      <div class="form-group col-2">
        <select class="custom-select" id="pickupTime" [formControlName]="'pickTime'">
          <option *ngFor="let hour of arrayOfHoursP" [value]="hour">
            {{hour}}
          </option>
        </select>
      </div>

      <div class="form-group col-3">
        <div class="input-group">
          <input class="form-control" [readonly]="true" [minDate]="toDate" name="d3" ngbDatepicker #d3="ngbDatepicker"
            [formControlName]="'dropDate'">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"><i
                class="fas fa-calendar"></i></button>
          </div>
        </div>
      </div>

      <div class="form-group col-2">
        <select class="custom-select" id="dropoffTime" [formControlName]="'dropTime'">
          <option *ngFor="let hour of arrayOfHoursD" [value]="hour">
            {{hour}}
          </option>
        </select>
      </div>

      <div class="form-group col-2">
        <button type="submit" class="btn btn-outline-secondary" [disabled]="!searchFormGroup.valid" >Search</button>
      </div>
      
    </form>
    
  </div>

  <div class="row">

      <router-outlet></router-outlet>


  </div>


  

  

</div>
